* {
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol {
	margin: 0;
	padding: 0;
}
em{
    font-style: normal;
}
a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

input {
	border: none;
}

img {
	display: block
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearFixed:after {
	content: "";
	display: block;
	clear: both;
}
body{
    background-color: #F1EEF2;
}
#top {
	background: rgba(255, 255, 255, 60%);
	border-bottom: 1px solid #e5e5e5;
	height: 64px;
	width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	z-index: 20;
}
.nav_top{
    height: 64px;
    width: 1200px;
    margin: 0 auto;
    line-height: 64px;
}
.nav_top .logo{
    float: left;
    height: 64px;
    width: 150px;
}
.logo img{
    float: left;
    width: 44px;
    margin: 8px  0 auto;
}
.logo h6{
    float: left;
    margin-left: 6px;
    color:#666;
    font-size: 18px;
}
.nav_top_list{
    width: 400px;
    height: 64px;
    float: left;
    margin-left:24%;
}
.nav_top_list li img{
    float: left;
    width: 34px;
    margin: 14px 0 auto;
}
.nav_top_list li em{
    color:#666;
    float: left;
    margin: auto 30px auto 10px;
}
.nav_top .followMe{
    float: right;
    margin: auto 0;
}
.followMe button{
    width: 100px;
    height: 34px;
    border: none;
    background: none;
    border: 1px solid #18CFA9 ;
    border-radius: 18px;
    color:#18CFA9;
}
#content{
    background: url(../img/index/bg.jpg);
    background-size: 1200px;
    width: 1200px;
    height: auto;
    margin: 64px auto 0px;
}
#content h1{
    float: left;
    width: 1200px;
    margin: 170px auto 0;
    font-size: 46px;
    font-weight: normal;
    text-align: center;
    color: white;
}
.remark{
    float: left;
    width: 1200px;
    height: auto;
    margin: 60px auto 40px;
}
.remark #theme{
    color: white;
    float: left;
    margin-left: 20%;
}
.remark #author{
    color: white;
    float: right;
    margin-right: 20%;
}
.remark .share{
    float: left;
    margin-left: 16%;
}
.remark .share li{
    float: left;
    border-radius: 100%;
    margin-right: 20px;
    width: 18px;
    height: 18px;
    background-color: white;
}
.index_content_nav{
    float: left;
    margin-top: 94px;
}
.index_content_nav a{
    width: 298px;
    height: 210px;
    float: left;
    margin-right: 2px;
    background-color: rgba(255, 255, 255, 40%);
}
.index_content_nav li{
    width:fit-content;
    margin-top: 40px;
    padding-left: 100px;
}
.index_content_nav li img{
    width: 100px;
}
.index_content_nav span{
    color: white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 36px;
}
.index_content_nav .log{
    margin-left: 20px;
}
.index_content_nav ul :first-child{
    margin-left: 1px;
}
.index_content_nav ul :last-child{
    margin-right: 0px;
}
.footer{
    width: 1200px;
    height: 50px;
    margin: 20px auto 0;
}
.footer p{
    text-align: center;
    font-size: 12px;
    color: #666;
}