@import 'css/public.scss';
#content h1{
    float: left;
    width: 1200px;
    margin: 170px auto 0;
    font-size: 46px;
    font-weight: normal;
    text-align: center;
    color: white;
}
.remark{
    float: left;
    width: 1200px;
    height: auto;
    margin: 60px auto 40px;
}
.remark #theme{
    color: white;
    float: left;
    margin-left: 20%;
}
.remark #author{
    color: white;
    float: right;
    margin-right: 20%;
}
.remark .share{
    float: left;
    margin-left: 16%;
}
.remark .share li{
    float: left;
    border-radius: 100%;
    margin-right: 20px;
    width: 18px;
    height: 18px;
    background-color: white;
}
.index_content_nav{
    float: left;
    margin-top: 94px;
}
.index_content_nav a{
    width: 298px;
    height: 210px;
    float: left;
    margin-right: 2px;
    background-color: rgba(255, 255, 255, .4);
}
.index_content_nav li{
    width:fit-content;
    margin-top: 40px;
    padding-left: 100px;
}
.index_content_nav li img{
    width: 100px;
}
.index_content_nav span{
    color: white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 36px;
}
.index_content_nav .log{
    margin-left: 20px;
}
.index_content_nav ul :first-child{
    margin-left: 1px;
}
.index_content_nav ul :last-child{
    margin-right: 0px;
}
.share{
    line-height: 20px;
    margin: auto;
    margin-top: 140px;
    width: 138px;
    height: 22px;
}

.share a{
    float: left;
    background:#4F6357;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    margin-right: 14px;
    text-align: center;
    line-height: 24px;
}
.share li{
    font-family: 'iconfont';
    color: #ffffff;
    font-size: 18px;
}
.share .last{
    margin-right: 0;
}
.footer{
    width: 1200px;
    height: 50px;
    margin: 20px auto 0;
}
.footer p{
    text-align: center;
    font-size: 12px;
    color: #666;
}