* {
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol {
	margin: 0;
	padding: 0;
}
em{
    font-style: normal;
}
a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

input {
	border: none;
}

img {
	display: block
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearFixed:after {
	content: "";
	display: block;
	clear: both;
}
body{
    background-color: #F1EEF2;
}
/* 导航栏 */
#top {
    background: rgba(255, 255, 255);
    box-shadow: 0px 2px 2px #F1EEF2;
	height: 64px;
	width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	z-index: 20;
}
.nav_top{
    height: 64px;
    width: 1200px;
    margin: 0 auto;
    line-height: 64px;
}
.nav_top .logo{
    float: left;
    height: 64px;
    width: 150px;
}
.logo img{
    float: left;
    width: 44px;
    margin: 8px  0 auto;
}
.logo h6{
    float: left;
    margin-left: 6px;
    color:#666;
    font-size: 18px;
}
.nav_top_list{
    width: 400px;
    height: 64px;
    float: left;
    margin-left:24%;
}
.nav_top_list li img{
    float: left;
    width: 34px;
    margin: 14px 0 auto;
}
.nav_top_list li em{
    color:#666;
    float: left;
    margin: auto 30px auto 10px;
}
.nav_top .followMe{
    float: right;
    margin: auto 0;
}
.followMe button{
    width: 100px;
    height: 34px;
    border: none;
    background: none;
    border: 1px solid #18CFA9 ;
    border-radius: 18px;
    color:#18CFA9;
}
#content{
    background: url(../img/index/bg.jpg);
    background-size: 1200px;
    width: 1200px;
    height: auto;
    margin: 64px auto 0px;
}
/* 底部 */
#footer{
	float: left;
	width: 940px;
	height:30px;
	padding-top: 20px;
	background:#f2f2f5;
	text-align: center;
	color: #999;
	font-size: 16px;
}