@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol {
  margin: 0;
  padding: 0; }

em {
  font-style: normal; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style: none; }

input {
  border: none; }

img {
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearFixed:after {
  content: "";
  display: block;
  clear: both; }

body {
  background-color: #F1EEF2; }

/* 导航栏 */
#top {
  background: white;
  box-shadow: 0px 2px 2px #F1EEF2;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20; }

.nav_top {
  height: 64px;
  width: 1200px;
  margin: 0 auto;
  line-height: 64px; }

.nav_top .logo {
  float: left;
  height: 64px;
  width: 150px; }

.logo img {
  float: left;
  width: 44px;
  margin: 8px  0 auto; }

.logo h6 {
  float: left;
  margin-left: 6px;
  color: #666;
  font-size: 18px; }

.nav_top_list {
  width: 400px;
  height: 64px;
  float: left;
  margin-left: 24%; }

.nav_top_list li img {
  float: left;
  width: 34px;
  margin: 14px 0 auto; }

.nav_top_list li em {
  color: #666;
  float: left;
  margin: auto 30px auto 10px; }

#option {
  float: right;
  background: none;
  border: none;
  margin: auto 10px;
  color: #18CFA9; }

#sign {
  float: right; }

#avatar img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  float: right;
  margin: auto 0;
  margin-top: 10px; }

#content {
  background: url(../img/index/bg.jpg);
  background-size: 1200px;
  width: 1200px;
  height: auto;
  margin: 64px auto 0px; }

/* 底部 */
#footer {
  float: left;
  margin-left: 261px;
  width: 940px;
  height: 30px;
  padding-top: 20px;
  background: #f2f2f5;
  text-align: center;
  color: #999;
  font-size: 16px; }

@media only screen and (max-width: 376px) {
  .nav_top {
    width: 100%;
    opacity: 100%; }
  .nav_top .logo {
    display: none; }
  .nav_top_list {
    width: 80%;
    margin-left: 15%; }
  .nav_top_list li img {
    width: 24px;
    margin: 20px 0 auto; }
  .nav_top_list li em {
    margin: auto 20px auto 10px;
    font-size: 14px; }
  .nav_top .followMe {
    display: none; }
  #contain {
    width: 100%; }
  .nav_left {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #E5E5E5; }
  .nav_left em {
    width: fit-content;
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    float: left; }
  .nav_left button {
    margin-top: 0px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    margin-left: auto;
    border-radius: 30px;
    font-size: 8px;
    float: right; }
  .nav_left svg {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    background-size: 16px 16px;
    float: left; }
  .main {
    width: 100%;
    background: #FFFFFF;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 95px; }
  .card {
    width: 90%; }
  .card_avatar {
    margin-right: 12px;
    margin-left: 12px; }
  .card_avatar img {
    width: 40px;
    height: 40px; }
  .card_content {
    width: 80%; }
  .card_content .user_info {
    width: 100%; }
  .user_info h3 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
    color: #333333; }
  .user_info span {
    color: #999999;
    font-size: 6px; }
  .card_title {
    padding-top: 40px;
    padding-bottom: 6px; }
  .card_title h1 {
    color: #666666;
    font-weight: 500;
    font-size: 18px; }
  .card_tag {
    width: 80%;
    height: 20px;
    margin-top: 4px; }
  .card_tag svg {
    float: left;
    margin-top: 2px;
    margin-right: 10px; }
  .card_tag li {
    font-size: 12px;
    color: #18CFA9;
    float: left;
    margin-right: 12px;
    border: 1px solid #18CFA9;
    border-radius: 16px;
    padding: 2px 6px;
    font-weight: 100; }
  .card_artical {
    text-indent: 1em;
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666; }
  .card_pic {
    width: 90%;
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 4px;
    grid-column-gap: 4px;
    grid-template-rows: 80px; }
  .card_pic .pic {
    border: 1px solid #e5e5e5;
    overflow: hidden; }
  .card_pic img {
    width: 150px;
    height: 150px;
    object-fit: cover; }
  .card_comment {
    margin-top: 18px;
    width: 90%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 26px;
    margin-bottom: 8px; }
  .card_comment_li svg {
    margin-top: 2px;
    margin-left: 14px; }
  .divide {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5; }
  /* 主体 */
  /* 底部 */
  #footer {
    width: 100%;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px; } }

#box {
  height: 100%; }

#footer {
  width: 100%;
  margin-left: 0px; }

#main {
  margin-top: 64px;
  height: 500px;
  width: 100%;
  background: url(../img/index/bg.jpg);
  background-size: 100% auto;
  padding-top: 50px;
  padding-bottom: 50px; }

#login_form {
  background-color: #FFFFFF;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 550px;
  height: 400px;
  display: grid;
  justify-content: center;
  grid-row-gap: 16px;
  grid-column-gap: 30px;
  justify-items: center;
  grid-template-columns: 600px;
  border-radius: 50px; }

#avatar img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px auto; }

#logo img {
  width: 100px;
  height: 100px;
  margin: 20px auto; }

.input {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  background-color: #F1EEF2;
  padding: 0 20px; }

#errortip {
  color: red;
  font-size: 16px; }

#login_form {
  grid-template-rows: repeat(120px, 5, 50px); }

#signup {
  margin-top: 20px;
  width: 290px;
  height: 40px;
  border-radius: 40px;
  background-color: #18CFA9;
  color: white; }

#signin {
  width: 290px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #18CFA9;
  background-color: #FFFFFF;
  color: #18CFA9; }
